<div id="display_mates">
	Full matches:
  <p><%@full_mates.each do |mate| %>
    <%= mate.name %></p>
  <%end%>
  	Partial matches:
  <p><%@part_mates.each do |mate| %>
    <%= mate.name %></p>
  <%end%>

</div>
